body {
    margin: 0px;
    font-family: 'Fira Sans', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 10vh;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
    background-color: #ffffff;
}

.nav-section-1 a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Fira Sans', sans-serif;
    padding: 24px;
    border-color: transparent;
    border-width: 1px;
    font-weight: 500;
}

.nav-section-1 a:hover {
    border-bottom: 2px solid #27A9E1;
    background-color: #FAF9F5;
}

.nav-section-2 a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Fira Sans', sans-serif;
    padding: 24px;
    border-color: transparent;
    border-width: 1px;
}

.nav-section-2 button {
    font-family: 'Fira Sans', sans-serif;
    padding: 12px;
    border: none;
    color: black;
    font-weight: bold;
    background-color: #FFD942;
    cursor: pointer;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #F8F9FA;
    padding: 20px
}

.main-content h1 {
    font-family: 'Fira Sans', sans-serif;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 30%;
    padding: 20px;
}

.search input {
    padding: 13px;
    margin-right: 5px;
    width: 150% !important;
    font-family: 'Fira Sans', sans-serif;
    outline: none;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 0px 2px rgba(32, 143, 190, 0.5);
    transition: 0.5s ease-in-out;
}

.search input:focus {
    outline: none;
    box-shadow: 0px 0px 2px rgba(32, 143, 190, 1);
    transition: 0.5s ease-in-out;
}

.search-btn {
    padding: 7px;
    background-color: #27A9E1;
    border: 1px solid #208FBE;
    cursor: pointer;
}

.footer {
    background-color: #232F3A;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15px;
}

.help-section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
}

.help-section1-1 {
    color: white;
    display: flex;
    overflow: visible;
}

#clickbtn {
    margin-left: 10px;
    padding: 10px;
    margin-top: -6px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    border: none;
    background-color: #2FBB86;
    color: white;
}

.help-section1-2 {
    color: white;
}

.help-section1-2 span {
    color: #27A9E1;
    cursor: pointer;
}

.help-section1-2 span:hover {
    text-decoration: underline;
    color: #2D7AA5;
}

#hrtag {
    margin-right: 40px;
    margin-left: 40px;
}

.details-footer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: center;
}

.details-footer-1 {
    color: white;
    margin-right: 100px;
}

.details-footer-1 span {
    margin-top: 8px;
    color: white;
    font-weight: bold;
    margin-bottom: 8px;
}

.details-footer-1 p {
    cursor: pointer;
    margin-bottom: 8px;
}

.details-footer-1 p:hover {
    text-decoration: underline;
    color: grey
}

.details-footer-1-social {
    margin-right: 100px;
    margin-top: -31px;
    color: white;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.details-footer-1-social p {
    font-size: 10px;
}

.social-2 {
    margin-top: 130px;
}

a {
    color: transparent;
    text-decoration: none;
    color: white;
}